{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
User Profiles
{% endblock %}

{% block body_block %}
<div class="jumbotoron p-4">
	<div class="container">
		<h1 class="jumbotron-heading">User Profiles</h1>
	</div>
</div>

<div class="container">
	<div class="row">
		{% if userprofile_list %}
		<div class="panel-body">
			<div class="list-body">
				{% for list_user in userprofile_list %}
				<div class="list-group-item">
					<div class="media">
						<div class="media-left">
							{% if list_user.picture %}
							<img width="64" height="64" src="{{ MEDIA_URL }}{{ list_user.picture }}" alt="{{list_user.username}}'s profile image" class="media-object">
							{% else %}
							<img src="https://lorempixel.com/64/64/people/" class="media-object" width="64" height="64" alt="{{list_user.username}}'s substitution image">
							{% endif %}
						</div>
						<div class="media-body">
							<h4 class="list-group-item-heading">
								<a href="{% url 'rango:profile' list_user.user.username %}">{{ list_user.user.username }}</a>
							</h4>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		{% else %}
		<p>There are no users present on Rango</p>
		{% endif %}
	</div>
</div>
{% endblock %}

<!-- <div class="container">
	<div class="row">
		{% if userprofile_list %}
		<div class="panel-body">
			<div class="list-body">
				{% for list_user in userprofile_list %}
				<div class="list-group-item">
					<div class="media">
						<div class="media-left">
							{% if list_user.profile_picture %}
							<img src="{{ list_user.profile_picture.url }}" class="media-object" width="64" height="64">
							{% else %}
							<img src="https://lorempixel.com/64/64/people/" class="media-object" width="64" height="64">
							{% endif %}
						</div>
						<div class="media-body">
							<h4 class="list-group-item-heading">
								<a href="{% url 'rango:profile' list_user.user.username %}">{{ list_user.user.username }}</a>
							</h4>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		{% else %}
		<p>There are no users present on Rango</p>
		{% endif %}
	</div>
</div> -->
